*~
*.bak
*.zip
*.tar.xz
*.orig
*.diff
*.valid
install
things
releases
data/themes
fonts/source
fonts/bf
fonts/ff
/docs/_site
/docs/.sass-cache
/docs/.jekyll-metadata
/docs/Gemfile.lock
packaging/debs
packaging/VERSION
depcomp
Makefile
Makefile.in
aclocal.m4
zip-files/
.deps/
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
