@import 'variables';

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  overflow-y: auto;
  min-height: 100%;
  background-color: #f4f4f4;
  @media(max-width: 768px) {
    position: static;
    width: 100%;
    .menu-icon {
      display: block !important;
    }
  }
  .menu-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 15px;
    display: none;
    z-index: 100;
  }
  .logo {
    display: block;
    height: 75px;
    background: url(./assets/images/logo.png) no-repeat center;
    /*background-size: 110px 32px;*/
    box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.4);
    &:hover {
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
    }
  }
  .routes {
    padding: 10px 0;
    list-style: none;
    @media(max-width: 768px) {
      width: 100%;
      display: none;
    }
    &.open {
      display: inline-block !important;
    }
    li {
      a {
        display: block;
        padding: 12px 20px;
        font-size: 17px;
        color: #555;
        &.active {
          color: $dark-orange;
        }
      }
      &:hover {
        & > a {
          color: #517dbc;
        }
      }
    }
  }
}
