[Desktop Entry]
Name=CPUFreq Manager
Name[en_US]=CPUFreq Manager
Comment=CPU Power Manager
Exec=cpufreq-application
Icon=cpufreq.svg
Terminal=false
Type=Application
Categories=GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
Keywords=cpufreq;ospower;power;monitor;
StartupNotify=true
