.hb, .hb GtkLabel, .hb label {
  border-width: 0;
  border-style:none;
  box-shadow:none;
  outline-width:0;
  border-image:none;
  border:0;
  text-shadow:none;
}
.titlebar {

}
.menuitem, .submenu {
  border-radius: 0;
  border-style:none;
  box-shadow:none;
  outline-width:0;
  border-image:none;
  font-size: 1em;
  padding:0.5em;
  margin:0;
  border:0;
  color: #7f7f7f;
  text-shadow:none;
  background-image: none;
  background-color: transparent;
}
.menuitem:hover, .submenu:hover, .slider-item:hover, .submenu *:hover {
  color: #fff;
  background-color: #215d9c;
}
.submenu-section {
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
  /*background-color: @cpufreq_bg_color;*/
}
.slider-item {

}
.warn {
  color: orange;
  font-weight: bold;
}
.warn:hover {
  background-color: shade (red, 0.8);
}
.status {
  /*background-color: green;*/
  font-weight: bold;
}
.warning {
  background-color: orange;
}
.critical {
  background-color: red;
}
.info-widget {
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
  color: #fff;
  background-color: #215d9c;
  margin: 8px;
  padding: 8px;
  border: 8px;
  /*color: #215d9c;*/
  font-family: cpufreq;
  font-weight: bold;
}
.amd {
  background-color: #bb0a1b;
}
.coreinfo {
  font-weight:normal;
}

.edit-button, .delete-button {
  border-radius: 32px;
  padding: 4px;
}
.edit-button:hover {
  background-color: orange;
  border: none;
}
.delete-button:hover {
  background-color: #bb0a1b;
  border: none;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
